In [92]:
import os
os.chdir('../forkedBigdataAnalystCert')

# 1유형

## 1

In [93]:
import pandas as pd
df = pd.read_csv('Data/P210201.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Data/P210201.csv'

In [3]:
th10 = list(df['crim'].sort_values())[-10]
ds = []
for i in range(0, len(df['crim'])) :
    if df['crim'][i] > th10 :
        df['crim'][i] = th10
    else :
        pass
df

C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['crim'][i] = th10
C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4026181824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crim'][i] = th10

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
df2 = df[df['age'] >= 80].reset_index(drop = True)
print(round(df2['crim'].mean(), 2))

5.76

In [5]:
print(df['crim'])

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: crim, Length: 506, dtype: float64

### solution

## 2

In [6]:
import numpy as np, pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv('Data/P210202.csv')

In [8]:
len(df) * 0.8

16512.0

In [9]:
dftr = df[0:16511]
dftr
sd1 = dftr['total_bedrooms'].std()

In [10]:
dftr2 = dftr.fillna(dftr['total_bedrooms'].median())

In [11]:
sd2 = dftr2['total_bedrooms'].std()

In [12]:
print(round(abs(sd1 - sd2), 2))

1.98

### solution

## 3 : 오답

In [13]:
import numpy as np, pandas as pd
df = pd.read_csv('Data/P210203.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [15]:
tcol = df['charges']

In [16]:
tmean = tcol.mean()
tsd = tcol.std()

In [17]:
sums = 0
thres = tsd*1.5
for i in range(len(tcol)) :
    if tmean - thres > tcol[i] or tmean + thres < tcol[i] :
        sums += tcol[i]
print(int(sums))

6421430

## 04

In [18]:
import numpy as np, pandas as pd

In [19]:
df = pd.read_csv('Data/P210301.csv').dropna().reset_index(drop = True)
dftr = df[0:14303]

In [20]:
dftr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
14298,-117.24,32.80,28.0,1072.0,331.0,692.0,321.0,2.1357,187500.0,NEAR OCEAN
14299,-117.24,32.80,18.0,2205.0,661.0,874.0,580.0,3.8018,112500.0,NEAR OCEAN
14300,-117.24,32.80,19.0,1863.0,497.0,868.0,503.0,2.2880,210000.0,NEAR OCEAN
14301,-117.24,32.80,30.0,1917.0,462.0,828.0,437.0,2.4671,276300.0,NEAR OCEAN
14302,-117.24,32.80,29.0,3376.0,882.0,1513.0,843.0,3.1010,238200.0,NEAR OCEAN

In [21]:
dftr['housing_median_age']

0        41.0
1        21.0
2        52.0
3        52.0
4        52.0
         ...
14298    28.0
14299    18.0
14300    19.0
14301    30.0
14302    29.0
Name: housing_median_age, Length: 14303, dtype: float64

In [22]:
np.quantile(dftr['housing_median_age'], 0.25)

19.0

## 5

In [23]:
import numpy as np, pandas as pd

In [24]:
df = pd.read_csv('Data/P210302.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [26]:
df.isna().sum()/len(df)

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Embarked       0.002245
dtype: float64

## 6

In [27]:
import numpy as np, pandas as pd
df = pd.read_csv('Data/P210303.csv')

In [28]:
df = df[['country', 'year', 'new_sp']].dropna()

In [29]:
newspmean = round(df[df['year'] == 2000]['new_sp'].mean(), 2)
print(newspmean)

7865.34

In [30]:
len(df[df['year'] == 2000][df['new_sp'] > newspmean])

C:\Users\Na\AppData\Local\Temp\ipykernel_71412\4245953922.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(df[df['year'] == 2000][df['new_sp'] > newspmean])

38

## 7

In [31]:
import numpy as np, pandas as pd
df = pd.read_csv('Data/P220401.csv')

In [32]:
df['y']

0    86
1    91
2    15
3    50
4    78
5    34
6    37
7    56
8    64
9    74
Name: y, dtype: int64

In [33]:
int(np.quantile(df['y'], 0.75) - np.quantile(df['y'], 0.25))

36

## 8

In [34]:
import numpy as np, pandas as pd
df = pd.read_csv('Data/P220402.csv')

In [35]:
df['good'] = df['num_loves'] + df['num_wows']
df['ratio'] = df['good']/df['num_reactions']

In [36]:
len(df[df['ratio'] > 0.4][df['ratio'] < 0.5])

C:\Users\Na\AppData\Local\Temp\ipykernel_71412\3245631415.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(df[df['ratio'] > 0.4][df['ratio'] < 0.5])

90

### solution

In [37]:
len(df[(df['ratio'] > 0.4)&(df['ratio'] < 0.5)])

90

## 9

In [38]:
import numpy as np, pandas as pd
df = pd.read_csv('Data/P220403.csv')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [40]:
df['date_added']

0       September 25, 2021
1       September 24, 2021
2       September 24, 2021
3       September 24, 2021
4       September 24, 2021
               ...
8802     November 20, 2019
8803          July 1, 2019
8804      November 1, 2019
8805      January 11, 2020
8806         March 2, 2019
Name: date_added, Length: 8807, dtype: object

In [41]:
df[df['release_year'] == 2000]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
180,s181,Movie,The Nutty Professor II: The Klumps,Peter Segal,"Eddie Murphy, Janet Jackson, Larry Miller, Joh...",NaN,"September 1, 2021",2000,PG-13,107 min,"Comedies, Romantic Movies","After getting engaged, Sherman Klump prepares ..."
350,s351,Movie,Space Cowboys,Clint Eastwood,"Clint Eastwood, Tommy Lee Jones, Donald Suther...",United States,"August 1, 2021",2000,PG-13,130 min,"Action & Adventure, Dramas, Sci-Fi & Fantasy",A retired engineer agrees to help NASA prevent...
359,s360,Movie,The Original Kings of Comedy,Spike Lee,"Steve Harvey, D.L. Hughley, Cedric the Enterta...",United States,"August 1, 2021",2000,R,111 min,Stand-Up Comedy,"Comedians Steve Harvey, Cedric the Entertainer..."
566,s567,Movie,Charlie's Angels,McG,"Cameron Diaz, Drew Barrymore, Lucy Liu, Bill M...","United States, Germany","July 1, 2021",2000,PG-13,98 min,"Action & Adventure, Comedies",A tight-knit trio of specially trained agents ...
593,s594,Movie,Snow Day,Chris Koch,"Chris Elliott, Mark Webber, Jean Smart, Schuyl...",United States,"July 1, 2021",2000,PG,89 min,"Children & Family Movies, Comedies","When a snow day shuts down the whole town, the..."
779,s780,Movie,Battlefield Earth,Roger Christian,"John Travolta, Barry Pepper, Forest Whitaker, ...",United States,"June 2, 2021",2000,PG-13,118 min,"Action & Adventure, Cult Movies, Sci-Fi & Fantasy","In the year 3000, an alien race known as the P..."
952,s953,Movie,The Whole Nine Yards,Jonathan Lynn,"Bruce Willis, Matthew Perry, Rosanna Arquette,...",United States,"May 1, 2021",2000,R,99 min,"Action & Adventure, Comedies",An unhappily married dentist becomes mixed up ...
2173,s2174,TV Show,Moesha,NaN,"Brandy Norwood, William Allen Young, Sheryl Le...",United States,"August 1, 2020",2000,TV-PG,6 Seasons,"TV Comedies, Teen TV Shows",Navigating the twists and firsts of high schoo...
3472,s3473,Movie,Rugrats in Paris: The Movie,"Stig Bergqvist, Paul Demeyer","Elizabeth Daily, Tara Strong, Cheryl Chase, Ch...","Germany, United States","October 1, 2019",2000,G,79 min,"Children & Family Movies, Comedies",The Rugrats take to the big screen and visit P...
4545,s4546,Movie,Monty Python: Before the Flying Circus,Will Yapp,"Graham Chapman, Eric Idle, Terry Jones, Michae...",United Kingdom,"October 2, 2018",2000,TV-MA,56 min,"Comedies, Documentaries",Discover how six seemingly ordinary but suprem...
4723,s4724,Movie,Fiza,Khalid Mohamed,"Karisma Kapoor, Jaya Bhaduri, Hrithik Roshan, ...",India,"August 2, 2018",2000,TV-14,163 min,"Dramas, International Movies, Music & Musicals",Fiza's brother disappears during Mumbai's horr...
4956,s4957,Movie,Phir Bhi Dil Hai Hindustani,Aziz Mirza,"Shah Rukh Khan, Juhi Chawla, Paresh Rawal, Sat...",India,"April 1, 2018",2000,TV-14,159 min,"Comedies, Dramas, International Movies","In this Bollywood entertainment, two journalis..."
5098,s5099,TV Show,Pokémon: Indigo League,NaN,"Rica Matsumoto, Ikue Otani, Mayumi Iizuka, Meg...",Japan,"January 1, 2018",2000,TV-Y7,1 Season,"Anime Series, Kids' TV",Explore the world of Pokémon with 10-year-old ...
5245,s5246,TV Show,Star Trek: Voyager,NaN,"Kate Mulgrew, Robert Beltran, Roxann Dawson, J...",United States,"October 1, 2017",2000,TV-PG,7 Seasons,"TV Action & Adventure, TV Sci-Fi & Fantasy","On Voyager's 75-year journey back to Earth, th..."
5953,s5954,Movie,Joseph: King of Dreams,"Rob LaDuca, Robert C. Ramirez","Ben Affleck, Mark Hamill, Richard Herd, Mauree...","United States, France, United Kingdom","September 27, 2011",2000,TV-PG,75 min,"Children & Family Movies, Dramas, Faith & Spir...",With his gift of dream interpretation and his ...
6006,s6007,Movie,28 Days,Betty Thomas,"Sandra Bullock, Viggo Mortensen, Dominic West,...",United States,"September 30, 2020",2000,PG-13,104 min,"Comedies, Dramas",After her drunken antics result in property da...
6147,s6148,Movie,American Psycho,Mary Harron,"Christian Bale, Willem Dafoe, Jared Leto, Rees...","United States, Canada","September 1, 2019",2000,R,102 min,"Comedies, Cult Movies, Dramas",With chiseled good looks that belie his insani...
6154,s6155,Movie,An American Tail: The Treasures of Manhattan I...,Larry Latham,"Thomas Dekker, Dom DeLuise, Pat Musick, Nehemi...",United States,"April 1, 2018",2000,G,79 min,Children & Family Movies,When Fievel and friends go hunting for buried ...
6311,s6312,Movie,Billy Elliot,Stephen Daldry,"Jamie Bell, Gary Lewis, Stuart Wells, Billy Fa...","United Kingdom, France","February 1, 2019",2000,R,110 min,"Dramas, Independent Movies, International Movies",When a boy trades boxing school for ballet les...
6437,s6438,Movie,Center Stage,Nicholas Hytner,"Amanda Schull, Zoe Saldana, Susan May Pratt, P...",United States,"January 1, 2020",2000,PG-13,116 min,Dramas,Vying for a spot in the American Ballet Compan...
6440,s6441,Movie,Chal Mere Bhai,David Dhawan,"Sanjay Dutt, Salman Khan, Karisma Kapoor, Dali...",India,"December 31, 2019",2000,TV-14,132 min,"Comedies, International Movies, Romantic Movies","When a secretary saves her tycoon boss's life,..."
6543,s6544,Movie,"Crouching Tiger, Hidden Dragon",Ang Lee,"Chow Yun Fat, Michelle Yeoh, Zhang Ziyi, Chang...","Taiwan, Hong Kong, United States, China","March 1, 2019",2000,PG-13,120 min,"Action & Adventure, International Movies, Roma...",A young woman in ancient China longs for an ad...
6643,s6644,Movie,Dragonheart: A New Beginning,Doug Lefler,"Christopher Masterson, Harry Van Gorkum, Rona ...",United States,"January 1, 2020",2000,PG,84 min,"Action & Adventure, Sci-Fi & Fantasy",This sequel introduces Draco the dragon's offs...
6753,s6754,Movie,Final Destination,James Wong,"Devon Sawa, Ali Larter, Kerr Smith, Kristen Cl...",United States,"January 1, 2020",2000,R,98 min,"Cult Movies, Horror Movies, Thrillers",After narrowly avoiding a fatal plane explosio...
6912,s6913,Movie,Hamara Dil Aapke Paas Hai,Satish Kaushik,"Anil Kapoor, Aishwarya Rai Bachchan, Sonali Be...",India,"March 1, 2018",2000,TV-14,158 min,"Dramas, International Movies, Music & Musicals",Love blooms when kind-hearted Avinash takes in...
7013,s7014,Movie,How the Grinch Stole Christmas,Ron Howard,"Jim Carrey, Taylor Momsen, Jeffrey Tambor, Chr...",United States,"June 1, 2017",2000,PG,105 min,"Children & Family Movies, Comedies",The Grinch decides to rob Whoville of Christma...
7247,s7248,Movie,Kya Kehna,Kundan Shah,"Preity Zinta, Saif Ali Khan, Anupam Kher, Fari...",India,"April 1, 2018",2000,TV-PG,149 min,"Dramas, International Movies, Romantic Movies",A young university student's world is shaken a...
7316,s7317,Movie,Little Nicky,Steve Brill,"Adam Sandler, Patricia Arquette, Harvey Keitel...",United States,"December 1, 2020",2000,PG-13,90 min,Comedies,The devil sends his sweet son Nicky to Earth t...
7702,s7703,Movie,Papa the Great,Bhagyaraj,"Krishan Kumar, Nagma, Satya Prakash, Master Bo...",India,"December 8, 2017",2000,TV-PG,137 min,"Comedies, Dramas, International Movies","After witnessing a murder, a meek family man m..."
7766,s7767,TV Show,Power Rangers Lightspeed Rescue,NaN,"Michael Chaturantabut, Sean CW Johnson, Alison...","France, Japan, United States","January 1, 2016",2000,TV-Y7,1 Season,Kids' TV,As demons rumble from their graves beneath Mar...
7801,s7802,Movie,Pukar,Rajkumar Santoshi,"Anil Kapoor, Madhuri Dixit, Namrata Shirodkar,...",India,"March 1, 2018",2000,TV-14,165 min,"Action & Adventure, Dramas, International Movies",A notorious terrorist manipulates an Indian ar...
7955,s7956,Movie,Scary Movie,Keenen Ivory Wayans,"Anna Faris, Jon Abrahams, Shannon Elizabeth, S...",United States,"January 1, 2020",2000,R,88 min,"Comedies, Horror Movies",The Wayans brothers spoof some of Hollywood's ...
7962,s7963,Movie,Scream 3,Wes Craven,"David Arquette, Neve Campbell, Courteney Cox, ...",United States,"July 1, 2019",2000,R,117 min,Horror Movies,This installment of the tongue-in-cheek horror...
8196,s8197,Movie,The Art of War,Christian Duguay,"Wesley Snipes, Anne Archer, Maury Chaykin, Mar...","United States, Canada","July 1, 2020",2000,R,117 min,Action & Adventure,"Framed for the murder of an ambassador, a form..."
8305,s8306,Movie,The Flintstones in Viva Rock Vegas,Brian Levant,"Mark Addy, Stephen Baldwin, Kristen Johnston, ...",United States,"October 1, 2019",2000,PG,91 min,"Children & Family Movies, Comedies, Romantic M...",Yabba-dabba-doo! Digital dinosaurs rule the da...
8722,s8723,Movie,What Lies Beneath,Robert Zemeckis,"Harrison Ford, Michelle Pfeiffer, Diana Scarwi...",United States,"January 1, 2020",2000,PG-13,130 min,"Horror Movies, Thrillers",When Claire Spencer starts hearing ghostly voi...
8729,s8730,Movie,Where the Money Is,Marek Kanievska,"Paul Newman, Linda Fiorentino, Dermot Mulroney...","Germany, United States, United Kingdom, Canada","January 15, 2020",2000,PG-13,89 min,"Action & Adventure, Comedies, Dramas",Paul Newman proves he's still got prodigious a...

# 2유형

## 01

In [42]:
import numpy as np, pandas as pd
df = pd.read_csv('Data/P210204-01.csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8009 entries, 0 to 8008
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8009 non-null   int64
 1   Warehouse_block      8009 non-null   object
 2   Mode_of_Shipment     8009 non-null   object
 3   Customer_care_calls  8009 non-null   int64
 4   Customer_rating      8009 non-null   int64
 5   Cost_of_the_Product  8009 non-null   int64
 6   Prior_purchases      8009 non-null   int64
 7   Product_importance   8009 non-null   object
 8   Gender               8009 non-null   object
 9   Discount_offered     8009 non-null   int64
 10  Weight_in_gms        8009 non-null   int64
 11  Reached.on.Time_Y.N  8009 non-null   int64
dtypes: int64(8), object(4)
memory usage: 751.0+ KB

In [44]:
df.rename(columns = {'Reached.on.Time_Y.N':'Target'}, inplace = True)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier as RFclf
from sklearn.preprocessing import MinMaxScaler

In [46]:
X = df.drop(columns = ['Target', 'ID'])
y = df['Target']

In [47]:
Xtr, Xte, ytr, yte = train_test_split(X, y, random_state = 42, test_size = 0.2)

In [48]:
len(Xtr)

6407

In [49]:
colnames = list(X.columns)
colnames

['Warehouse_block',
 'Mode_of_Shipment',
 'Customer_care_calls',
 'Customer_rating',
 'Cost_of_the_Product',
 'Prior_purchases',
 'Product_importance',
 'Gender',
 'Discount_offered',
 'Weight_in_gms']

In [50]:
colnames.remove('Warehouse_block')
colnames.remove('Mode_of_Shipment')
colnames.remove('Product_importance')
colnames.remove('Gender')
colnames

['Customer_care_calls',
 'Customer_rating',
 'Cost_of_the_Product',
 'Prior_purchases',
 'Discount_offered',
 'Weight_in_gms']

In [51]:
catcols = ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']
X[catcols]

     Warehouse_block Mode_of_Shipment Product_importance Gender
0                  D           Flight                low      F
1                  F           Flight                low      M
2                  A           Flight                low      M
3                  B           Flight             medium      M
4                  C           Flight             medium      F
...              ...              ...                ...    ...
8004               D             Ship                low      F
8005               F             Ship                low      F
8006               A             Ship                low      M
8007               B             Ship             medium      M
8008               C             Ship                low      M

[8009 rows x 4 columns]

In [52]:
Xcon = Xtr[colnames]
scaler = MinMaxScaler()
scaler.fit(Xcon)
Xcon = pd.DataFrame(scaler.fit_transform(Xcon), columns = colnames)
Xcon

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
0,0.4,0.25,0.822430,0.000,0.312500,0.344618
1,0.8,0.75,0.981308,0.250,0.062500,0.106574
2,0.2,1.00,0.336449,0.125,0.093750,0.500228
3,0.2,1.00,0.719626,0.250,0.156250,0.373918
4,0.8,1.00,0.546729,0.500,0.093750,0.259299
...,...,...,...,...,...,...
6402,0.4,0.00,0.630841,0.000,0.000000,0.746319
6403,0.4,0.25,0.191589,0.000,0.015625,0.729164
6404,0.6,0.50,0.224299,0.500,0.531250,0.001215
6405,0.4,0.00,0.672897,0.250,0.093750,0.579475
6406,0.4,0.50,0.275701,0.125,0.015625,0.536359

In [53]:
Xcat = pd.get_dummies(Xtr[catcols], drop_first = True).reset_index(drop=True)

In [54]:
Xtrs = pd.concat([Xcon, Xcat], axis = 1)
Xtrs

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_low,Product_importance_medium,Gender_M
0,0.4,0.25,0.822430,0.000,0.312500,0.344618,False,False,False,True,False,True,True,False,True
1,0.8,0.75,0.981308,0.250,0.062500,0.106574,False,True,False,False,False,True,True,False,False
2,0.2,1.00,0.336449,0.125,0.093750,0.500228,False,False,True,False,False,True,False,True,True
3,0.2,1.00,0.719626,0.250,0.156250,0.373918,True,False,False,False,False,True,True,False,False
4,0.8,1.00,0.546729,0.500,0.093750,0.259299,False,False,False,True,False,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6402,0.4,0.00,0.630841,0.000,0.000000,0.746319,False,False,True,False,False,True,True,False,False
6403,0.4,0.25,0.191589,0.000,0.015625,0.729164,False,False,False,False,False,True,False,True,False
6404,0.6,0.50,0.224299,0.500,0.531250,0.001215,False,False,False,False,False,True,False,True,False
6405,0.4,0.00,0.672897,0.250,0.093750,0.579475,False,False,False,True,False,True,False,True,True
6406,0.4,0.50,0.275701,0.125,0.015625,0.536359,False,True,False,False,False,False,False,False,False

In [55]:
Xtecon = Xte[colnames]
Xtecon = pd.DataFrame(scaler.fit_transform(Xtecon), columns = colnames)
Xtecat = pd.get_dummies(Xte[catcols], drop_first = True).reset_index(drop=True)
Xte = pd.concat([Xtecon, Xtecat], axis = 1)
Xte

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_low,Product_importance_medium,Gender_M
0,0.6,0.75,0.719626,0.125,0.156250,0.346148,False,False,False,False,False,False,True,False,False
1,0.6,1.00,0.700935,0.125,0.125000,0.453442,False,False,True,False,False,True,False,True,False
2,0.2,0.25,0.602804,0.125,0.906250,0.362959,False,False,False,True,False,True,True,False,False
3,0.6,0.75,0.588785,0.125,0.031250,0.665107,False,True,False,False,False,True,True,False,True
4,0.2,1.00,0.757009,0.125,0.312500,0.356819,False,False,False,True,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,0.2,0.50,0.616822,0.000,0.406250,0.360766,True,False,False,False,False,True,False,True,True
1598,0.4,0.00,0.462617,0.125,0.656250,0.269551,False,True,False,False,False,True,True,False,True
1599,0.8,0.25,0.887850,0.250,0.046875,0.086099,True,False,False,False,False,True,True,False,False
1600,0.0,0.75,0.210280,0.125,0.406250,0.091069,False,False,False,True,True,False,False,True,False
1601,0.2,1.00,0.733645,0.125,0.125000,0.727087,False,False,False,True,False,True,False,True,True

In [56]:
ytr.reset_index(drop = True, inplace = True)
yte.reset_index(drop = True, inplace = True)

In [57]:
clf = RFclf()
clf.fit(Xtrs, ytr)

RandomForestClassifier()

In [58]:
pred = clf.predict_proba(Xte)

In [59]:
pred_prob = [pred[i][1] for i in range(len(pred))]
pred_prob

[1.0,
 0.86,
 0.99,
 0.54,
 0.99,
 0.51,
 1.0,
 0.84,
 0.85,
 0.45,
 1.0,
 0.43,
 0.38,
 0.5,
 0.87,
 1.0,
 0.52,
 0.66,
 1.0,
 0.62,
 0.41,
 1.0,
 0.97,
 0.52,
 0.44,
 0.43,
 0.99,
 1.0,
 0.99,
 0.53,
 0.6,
 0.56,
 0.66,
 0.94,
 0.37,
 0.33,
 0.28,
 0.44,
 1.0,
 0.44,
 0.37,
 0.99,
 0.69,
 0.28,
 0.78,
 0.46,
 0.6,
 0.28,
 1.0,
 1.0,
 0.47,
 1.0,
 0.59,
 0.13,
 0.41,
 0.15,
 0.37,
 0.3,
 0.47,
 1.0,
 1.0,
 0.43,
 0.99,
 0.88,
 0.51,
 0.39,
 0.41,
 0.97,
 0.34,
 0.4,
 0.57,
 0.47,
 0.99,
 1.0,
 0.45,
 0.48,
 0.54,
 1.0,
 0.35,
 1.0,
 0.99,
 1.0,
 0.4,
 0.32,
 0.54,
 0.98,
 1.0,
 0.49,
 0.49,
 0.53,
 1.0,
 1.0,
 0.44,
 0.36,
 1.0,
 0.32,
 0.33,
 1.0,
 0.39,
 1.0,
 0.55,
 0.83,
 0.56,
 0.93,
 0.33,
 0.97,
 0.65,
 0.43,
 0.36,
 1.0,
 1.0,
 0.99,
 0.68,
 0.29,
 0.53,
 0.57,
 1.0,
 1.0,
 0.19,
 0.47,
 0.99,
 0.43,
 0.99,
 0.4,
 1.0,
 0.37,
 0.44,
 0.57,
 0.4,
 0.48,
 0.46,
 0.97,
 0.61,
 0.41,
 0.48,
 0.4,
 0.33,
 0.27,
 0.89,
 0.36,
 0.99,
 0.44,
 0.99,
 1.0,
 0.64,
 0.54,
 0.45,
 1.0,
 0.44,
 0.99,
 0.71,
 0.46,
 1.0,
 0.8,
 0.38,
 0.45,
 1.0,
 0.71,
 0.99,
 0.24,
 0.45,
 0.49,
 0.41,
 1.0,
 0.57,
 0.99,
 0.95,
 1.0,
 0.54,
 0.3,
 0.39,
 0.41,
 0.9,
 1.0,
 1.0,
 0.95,
 1.0,
 0.98,
 0.29,
 0.54,
 0.82,
 0.48,
 0.34,
 1.0,
 0.28,
 0.98,
 1.0,
 0.74,
 0.3,
 0.5,
 0.85,
 1.0,
 0.99,
 0.35,
 0.39,
 0.91,
 0.96,
 0.6,
 0.91,
 0.47,
 0.73,
 0.57,
 0.45,
 0.52,
 0.34,
 0.99,
 1.0,
 0.4,
 0.99,
 0.98,
 0.51,
 1.0,
 1.0,
 0.99,
 0.98,
 0.35,
 0.63,
 0.97,
 0.4,
 0.33,
 0.91,
 1.0,
 1.0,
 0.43,
 0.59,
 1.0,
 0.64,
 0.55,
 1.0,
 0.44,
 0.99,
 0.93,
 0.98,
 0.44,
 0.99,
 0.98,
 0.88,
 1.0,
 0.48,
 0.5,
 0.35,
 0.93,
 0.99,
 0.97,
 0.28,
 0.93,
 0.98,
 1.0,
 0.37,
 0.96,
 0.66,
 0.71,
 0.83,
 0.51,
 0.37,
 1.0,
 0.37,
 0.49,
 0.99,
 0.42,
 0.42,
 1.0,
 1.0,
 0.51,
 0.53,
 0.57,
 0.35,
 0.99,
 0.31,
 0.54,
 0.97,
 0.39,
 0.46,
 1.0,
 0.87,
 0.9,
 0.52,
 0.36,
 1.0,
 0.3,
 0.59,
 0.43,
 0.57,
 0.87,
 0.38,
 0.86,
 1.0,
 0.98,
 0.85,
 0.52,
 0.54,
 0.4,
 0.55,
 0.49,
 0.5,
 0.9,
 0.98,
 0.64,
 0.84,
 0.35,
 1.0,
 0.39,
 0.5,
 0.99,
 0.43,
 0.46,
 0.44,
 0.98,
 0.39,
 0.37,
 0.64,
 0.35,
 0.53,
 1.0,
 1.0,
 0.5,
 1.0,
 0.55,
 0.8,
 0.99,
 0.28,
 0.42,
 1.0,
 0.42,
 0.99,
 0.56,
 1.0,
 0.98,
 0.44,
 0.36,
 0.57,
 0.99,
 0.44,
 0.59,
 0.99,
 0.39,
 0.51,
 0.37,
 0.56,
 0.56,
 0.46,
 0.81,
 1.0,
 0.51,
 0.99,
 0.42,
 0.49,
 1.0,
 0.34,
 0.4,
 0.67,
 0.95,
 0.59,
 0.5,
 0.34,
 1.0,
 0.46,
 0.49,
 0.7,
 1.0,
 0.4,
 0.38,
 1.0,
 0.49,
 0.36,
 0.42,
 0.57,
 0.66,
 1.0,
 0.46,
 0.56,
 0.4,
 0.53,
 0.4,
 1.0,
 0.55,
 0.92,
 0.56,
 0.35,
 0.31,
 0.96,
 1.0,
 0.48,
 0.84,
 0.52,
 0.46,
 1.0,
 0.42,
 0.59,
 0.47,
 0.99,
 0.61,
 0.45,
 0.4,
 0.34,
 0.49,
 0.39,
 0.46,
 0.99,
 0.99,
 1.0,
 1.0,
 0.92,
 1.0,
 0.41,
 0.65,
 0.48,
 0.4,
 1.0,
 0.41,
 1.0,
 0.67,
 1.0,
 0.28,
 0.36,
 0.47,
 0.47,
 0.53,
 1.0,
 0.99,
 1.0,
 1.0,
 0.65,
 1.0,
 0.61,
 0.37,
 0.76,
 0.92,
 0.41,
 1.0,
 0.29,
 1.0,
 0.48,
 0.87,
 0.33,
 0.65,
 0.43,
 0.86,
 0.49,
 1.0,
 0.53,
 0.57,
 0.33,
 0.45,
 0.55,
 1.0,
 0.35,
 0.44,
 1.0,
 0.37,
 0.98,
 0.31,
 0.5,
 1.0,
 0.4,
 0.41,
 0.38,
 0.68,
 0.26,
 0.99,
 0.73,
 0.44,
 0.68,
 0.99,
 1.0,
 0.4,
 0.43,
 0.4,
 0.98,
 1.0,
 0.62,
 0.57,
 1.0,
 0.35,
 0.71,
 0.48,
 0.43,
 0.9,
 0.96,
 0.86,
 0.18,
 0.99,
 0.37,
 1.0,
 1.0,
 0.58,
 0.49,
 0.98,
 1.0,
 0.43,
 0.82,
 1.0,
 0.78,
 0.4,
 1.0,
 1.0,
 0.99,
 0.78,
 0.51,
 1.0,
 1.0,
 0.61,
 1.0,
 1.0,
 0.99,
 0.78,
 1.0,
 0.5,
 0.98,
 0.38,
 0.37,
 0.47,
 1.0,
 0.65,
 0.75,
 0.38,
 1.0,
 1.0,
 0.47,
 0.46,
 0.93,
 1.0,
 0.4,
 0.24,
 1.0,
 0.81,
 0.51,
 0.85,
 0.25,
 0.38,
 1.0,
 0.54,
 1.0,
 1.0,
 0.39,
 0.99,
 0.97,
 0.49,
 0.39,
 0.48,
 0.53,
 1.0,
 0.97,
 0.44,
 0.99,
 0.43,
 0.68,
 0.72,
 1.0,
 0.56,
 0.48,
 0.44,
 1.0,
 0.48,
 0.46,
 0.64,
 0.27,
 0.63,
 0.49,
 0.4,
 0.54,
 0.91,
 0.18,
 0.45,
 0.92,
 1.0,
 0.41,
 0.38,
 0.43,
 0.98,
 0.68,
 1.0,
 0.31,
 1.0,
 0.99,
 0.27,
 0.89,
 1.0,
 1.0,
 0.43,
 0.96,
 1.0,
 0.73,
 0.4,
 0.75,
 0.54,
 0.66,
 1.0,
 0.52,
 0.85,
 0.65,
 0.54,
 0.99,
 0.39,
 1.0,
 0.55,
 0.31,
 0.53,
 0.43,
 0.71,
 0.46,
 0.42,
 1.0,
 1.0,
 0.56,
 0.58,
 0.47,
 0.63,
 1.0,
 0.47,
 1.0,
 0.69,
 0.4,
 0.28,
 0.46,
 0.77,
 0.97,
 0.42,
 0.77,
 1.0,
 0.58,
 0.91,
 0.47,
 1.0,
 0.53,
 0.99,
 0.57,
 0.27,
 0.3,
 0.34,
 1.0,
 1.0,
 0.57,
 0.54,
 0.36,
 0.65,
 0.76,
 1.0,
 0.48,
 0.49,
 0.46,
 1.0,
 1.0,
 1.0,
 0.49,
 0.41,
 1.0,
 0.41,
 0.42,
 0.47,
 0.53,
 0.41,
 0.69,
 1.0,
 0.31,
 0.58,
 0.97,
 0.85,
 0.4,
 0.7,
 0.81,
 0.61,
 0.5,
 0.56,
 0.99,
 0.53,
 0.65,
 0.39,
 1.0,
 0.28,
 1.0,
 0.54,
 1.0,
 0.37,
 0.44,
 0.45,
 0.35,
 0.46,
 0.98,
 0.9,
 0.67,
 1.0,
 0.99,
 1.0,
 0.99,
 1.0,
 0.36,
 0.53,
 1.0,
 1.0,
 0.49,
 0.56,
 1.0,
 0.67,
 0.62,
 1.0,
 0.41,
 0.48,
 0.37,
 1.0,
 1.0,
 0.15,
 0.98,
 0.48,
 0.68,
 0.33,
 0.51,
 0.99,
 0.35,
 0.67,
 0.99,
 0.39,
 0.57,
 1.0,
 0.63,
 1.0,
 0.45,
 1.0,
 0.46,
 1.0,
 1.0,
 0.9,
 0.87,
 0.98,
 0.35,
 0.99,
 0.96,
 0.51,
 0.98,
 0.36,
 0.41,
 0.55,
 0.47,
 0.98,
 0.98,
 0.24,
 0.99,
 1.0,
 1.0,
 1.0,
 0.99,
 0.62,
 0.54,
 0.4,
 0.99,
 1.0,
 0.37,
 0.36,
 0.89,
 0.98,
 1.0,
 0.91,
 0.55,
 1.0,
 0.49,
 0.87,
 1.0,
 0.92,
 1.0,
 1.0,
 0.46,
 0.54,
 0.31,
 0.62,
 0.33,
 1.0,
 0.36,
 0.51,
 1.0,
 0.34,
 0.99,
 1.0,
 0.48,
 0.99,
 0.85,
 0.99,
 1.0,
 1.0,
 0.35,
 0.56,
 0.99,
 0.75,
 0.34,
 1.0,
 0.41,
 0.43,
 0.26,
 0.78,
 0.62,
 0.99,
 0.68,
 0.42,
 1.0,
 0.99,
 0.34,
 0.45,
 0.63,
 1.0,
 0.35,
 0.98,
 0.87,
 0.51,
 0.76,
 0.47,
 1.0,
 1.0,
 0.65,
 0.73,
 0.3,
 0.39,
 0.38,
 1.0,
 0.57,
 1.0,
 0.45,
 0.99,
 1.0,
 1.0,
 1.0,
 1.0,
 0.43,
 1.0,
 0.58,
 0.64,
 0.47,
 0.68,
 0.35,
 0.31,
 0.35,
 0.58,
 1.0,
 0.53,
 0.39,
 0.85,
 0.46,
 1.0,
 0.71,
 1.0,
 0.39,
 1.0,
 0.4,
 0.88,
 1.0,
 0.47,
 0.33,
 0.47,
 0.6,
 0.39,
 0.58,
 0.99,
 0.53,
 0.48,
 1.0,
 0.52,
 0.41,
 0.46,
 0.99,
 0.98,
 0.53,
 1.0,
 0.36,
 0.32,
 0.99,
 0.4,
 0.53,
 1.0,
 0.42,
 0.36,
 0.82,
 0.41,
 0.99,
 0.26,
 1.0,
 0.24,
 0.48,
 0.22,
 0.91,
 0.33,
 0.81,
 0.96,
 0.3,
 0.71,
 0.31,
 0.64,
 0.99,
 0.45,
 0.58,
 0.54,
 0.59,
 1.0,
 0.68,
 0.27,
 0.72,
 0.99,
 0.23,
 0.88,
 0.98,
 0.59,
 0.44,
 1.0,
 1.0,
 1.0,
 0.99,
 0.92,
 0.55,
 1.0,
 0.91,
 0.33,
 1.0,
 0.4,
 0.94,
 1.0,
 0.99,
 0.58,
 0.86,
 0.4,
 0.41,
 0.54,
 0.87,
 0.93,
 0.77,
 0.43,
 0.99,
 0.51,
 0.74,
 0.5,
 1.0,
 1.0,
 0.35,
 1.0,
 0.8,
 0.39,
 0.38,
 0.51,
 1.0,
 0.85,
 0.8,
 0.79,
 0.67,
 0.92,
 1.0,
 0.37,
 0.69,
 0.32,
 0.44,
 0.99,
 0.62,
 0.42,
 1.0,
 0.49,
 0.55,
 0.54,
 1.0,
 0.66,
 0.99,
 1.0,
 0.8,
 0.99,
 0.29,
 0.99,
 0.47,
 0.33,
 1.0,
 1.0,
 0.44,
 1.0,
 1.0,
 0.95,
 0.55,
 0.98,
 0.57,
 0.49,
 1.0,
 1.0,
 0.31,
 0.48,
 1.0,
 0.5,
 0.62,
 0.53,
 0.45,
 0.37,
 0.55,
 0.35,
 0.57,
 1.0,
 0.37,
 1.0,
 0.34,
 0.35,
 0.43,
 0.54,
 0.38,
 1.0,
 1.0,
 0.39,
 0.66,
 0.35,
 0.31,
 1.0,
 ...]

In [60]:
predf = pd.read_csv('Data/P210204-02.csv')
predf

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,8010,F,Ship,6,4,268,4,medium,F,3,1586
1,8011,D,Ship,5,3,238,5,high,M,7,1848
2,8012,F,Ship,5,3,254,6,low,M,7,1064
3,8013,A,Ship,5,3,252,5,low,M,3,1474
4,8014,B,Ship,6,4,254,4,low,M,9,1594
...,...,...,...,...,...,...,...,...,...,...,...
2985,10995,A,Ship,4,1,252,5,medium,F,1,1538
2986,10996,B,Ship,4,1,232,5,medium,F,6,1247
2987,10997,C,Ship,5,4,242,5,low,F,4,1155
2988,10998,F,Ship,5,2,223,6,medium,M,2,1210
2989,10999,D,Ship,2,5,155,5,low,F,6,1639

In [61]:
predcat = pd.get_dummies(predf[catcols], drop_first=True).reset_index(drop = True)

In [62]:
predcon = pd.DataFrame(scaler.fit_transform(predf[colnames]), columns = colnames)

In [63]:
predf = pd.concat([predcon, predcat, predf['ID']], axis = 1)

In [64]:
pred = clf.predict_proba(predf.drop(columns = ['ID']))

In [65]:
final_pred = pd.concat([predf['ID'], pd.DataFrame([pred[i][1] for i in range(len(predf))], columns = ['result'])], axis = 1)

In [66]:
final_pred

         ID  result
0      8010    0.86
1      8011    1.00
2      8012    0.92
3      8013    0.94
4      8014    0.92
...     ...     ...
2985  10995    0.77
2986  10996    0.90
2987  10997    0.92
2988  10998    0.60
2989  10999    0.96

[2990 rows x 2 columns]

In [67]:
final_pred.to_csv('Answers/0201.csv', index = False)

OSError: Cannot save file into a non-existent directory: 'Answers'

## 02

In [206]:
import numpy as np, pandas as pd
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import LabelEncoder, RobustScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [207]:
df_tr = pd.read_csv('Data/P210304-01.csv')
df_te = pd.read_csv('Data/P210304-02.csv')

In [213]:
catcols = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']
concols = ['Age', 'AnnualIncome', 'FamilyMembers', 'ChronicDiseases', 'TravelInsurance']

In [ ]:
df_tr[catcols]

In [208]:
df_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   X                    1491 non-null   int64
 1   Age                  1491 non-null   int64
 2   Employment Type      1491 non-null   object
 3   GraduateOrNot        1491 non-null   object
 4   AnnualIncome         1491 non-null   int64
 5   FamilyMembers        1491 non-null   int64
 6   ChronicDiseases      1491 non-null   int64
 7   FrequentFlyer        1491 non-null   object
 8   EverTravelledAbroad  1491 non-null   object
 9   TravelInsurance      1491 non-null   int64
dtypes: int64(6), object(4)
memory usage: 116.6+ KB

In [209]:
df_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   X                    496 non-null    int64
 1   Age                  496 non-null    int64
 2   Employment Type      496 non-null    object
 3   GraduateOrNot        496 non-null    object
 4   AnnualIncome         496 non-null    int64
 5   FamilyMembers        496 non-null    int64
 6   ChronicDiseases      496 non-null    int64
 7   FrequentFlyer        496 non-null    object
 8   EverTravelledAbroad  496 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.0+ KB

# 3유형

## 01

In [68]:
import numpy as np, pandas as pd
from scipy.stats import chi2_contingency

In [69]:
df = pd.read_csv('Data/P230605.csv')

In [70]:
df

     rows
0       4
1       2
2       4
3       4
4       4
..    ...
248     4
249     4
250     4
251     4
252     4

[253 rows x 1 columns]

In [71]:
df[df['rows'] == 4].count()/253

rows    0.786561
dtype: float64

In [72]:
df1 = pd.DataFrame(df.groupby('rows').size(), columns = ['sums']).reset_index()
df1['sums']

0     15
1     24
2     15
3    199
Name: sums, dtype: int64

In [73]:
df2 = pd.DataFrame({
    'state' : [1, 2, 3, 4],
    'ratio' : [0.05*253, 0.1*253, 0.05*253, 0.8*253]
}, 
columns = ['state', 'ratio'])
df2['ratio']

0     12.65
1     25.30
2     12.65
3    202.40
Name: ratio, dtype: float64

In [74]:
from scipy.stats import chisquare

chisquare(f_obs = df1['sums'], f_exp = df2['ratio'])

Power_divergenceResult(statistic=0.9970355731225298, pvalue=0.801969260894451)

## 02

In [75]:
import numpy as np, pandas as pd
df = pd.read_csv('Data/P230606.csv')

In [76]:
df

     O3  Solar  Wind  Temperature
0    41    190   7.4           67
1    36    118   8.0           72
2    12    149  12.6           74
3    18    313  11.5           62
4    23    299   8.6           65
..   ..    ...   ...          ...
106  14     20  16.6           63
107  30    193   6.9           70
108  14    191  14.3           75
109  18    131   8.0           76
110  20    223  11.5           68

[111 rows x 4 columns]

In [77]:
from statsmodels.formula.api import ols

In [78]:
lms = ols(formula = 'Temperature ~ Solar + Wind + O3', data = df).fit()

In [79]:
lms.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            Temperature   R-squared:                       0.500
Model:                            OLS   Adj. R-squared:                  0.486
Method:                 Least Squares   F-statistic:                     35.65
Date:                Sat, 21 Dec 2024   Prob (F-statistic):           4.73e-16
Time:                        15:07:26   Log-Likelihood:                -368.79
No. Observations:                 111   AIC:                             745.6
Df Residuals:                     107   BIC:                             756.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     72.4186      3.216     22.522      0.000      66.044      78.793
Solar          0.0073      0.008      0.948      0.345      -0.008       0.022
Wind          -0.3229      0.233     -1.384      0.169      -0.785       0.139
O3             0.1720      0.026      6.516      0.000       0.120       0.224
==============================================================================
Omnibus:                        6.409   Durbin-Watson:                   1.170
Prob(Omnibus):                  0.041   Jarque-Bera (JB):                6.615
Skew:                          -0.591   Prob(JB):                       0.0366
Kurtosis:                       2.817   Cond. No.                     1.05e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.05e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [80]:
round(1.690987e-01, 3)

0.169

In [81]:
lms.pvalues

Intercept    2.107000e-42
Solar        3.454492e-01
Wind         1.690987e-01
O3           2.423506e-09
dtype: float64

In [82]:
pd.DataFrame({
    'Solar' : 
})

lms.predict()

SyntaxError: expression expected after dictionary key and ':' (2907097372.py, line 2)