In [37]:
df = pd.read_csv('forked_Bigdata_Analyst_Cert/part4/ch8/drinks.csv')

In [9]:
df.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [10]:
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [14]:
df.groupby('continent').mean('beer_savings').idxmax()

beer_servings                          Europe
spirit_servings                 North America
wine_servings                          Europe
total_litres_of_pure_alcohol           Europe
dtype: object

In [11]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [38]:
df.loc[df['continent'] == 'Europe']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,Europe
3,Andorra,245,138,312,12.4,Europe
7,Armenia,21,179,11,3.8,Europe
9,Austria,279,75,191,9.7,Europe
10,Azerbaijan,21,46,5,1.3,Europe
15,Belarus,142,373,42,14.4,Europe
16,Belgium,295,84,212,10.5,Europe
21,Bosnia-Herzegovina,76,173,8,4.6,Europe
25,Bulgaria,231,252,94,10.3,Europe
42,Croatia,230,87,254,10.2,Europe
44,Cyprus,192,154,113,8.2,Europe
45,Czech Republic,361,170,134,11.8,Europe
48,Denmark,224,81,278,10.4,Europe
57,Estonia,224,194,59,9.5,Europe
60,Finland,263,133,97,10.0,Europe
61,France,127,151,370,11.8,Europe
64,Georgia,52,100,149,5.4,Europe
65,Germany,346,117,175,11.3,Europe
67,Greece,133,112,218,8.3,Europe
75,Hungary,234,215,185,11.3,Europe
76,Iceland,233,61,78,6.6,Europe
81,Ireland,313,118,165,11.4,Europe
83,Italy,85,42,237,6.5,Europe
93,Latvia,281,216,62,10.5,Europe
98,Lithuania,343,244,56,12.9,Europe
99,Luxembourg,236,133,271,11.4,Europe
105,Malta,149,100,120,6.6,Europe
111,Monaco,0,0,0,0.0,Europe
113,Montenegro,31,114,128,4.9,Europe
120,Netherlands,251,88,190,9.4,Europe
126,Norway,169,71,129,6.7,Europe
135,Poland,343,215,56,10.9,Europe
136,Portugal,194,67,339,11.0,Europe
139,Moldova,109,226,18,6.3,Europe
140,Romania,297,122,167,10.4,Europe
147,San Marino,0,0,0,0.0,Europe
151,Serbia,283,131,127,9.6,Europe
155,Slovakia,196,293,116,11.4,Europe
156,Slovenia,270,51,276,10.6,Europe
160,Spain,284,157,112,10.0,Europe
165,Sweden,152,60,186,7.2,Europe
166,Switzerland,185,100,280,10.2,Europe
170,Macedonia,106,27,86,3.9,Europe
180,Ukraine,206,237,45,8.9,Europe
182,United Kingdom,219,126,195,10.4,Europe

In [24]:
df[df['continent'] == 'Europe'].sort_values(by = 'beer_servings', ascending = False)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
45,Czech Republic,361,170,134,11.8,Europe
65,Germany,346,117,175,11.3,Europe
135,Poland,343,215,56,10.9,Europe
98,Lithuania,343,244,56,12.9,Europe
81,Ireland,313,118,165,11.4,Europe
140,Romania,297,122,167,10.4,Europe
16,Belgium,295,84,212,10.5,Europe
160,Spain,284,157,112,10.0,Europe
151,Serbia,283,131,127,9.6,Europe
93,Latvia,281,216,62,10.5,Europe
9,Austria,279,75,191,9.7,Europe
156,Slovenia,270,51,276,10.6,Europe
60,Finland,263,133,97,10.0,Europe
120,Netherlands,251,88,190,9.4,Europe
3,Andorra,245,138,312,12.4,Europe
99,Luxembourg,236,133,271,11.4,Europe
75,Hungary,234,215,185,11.3,Europe
76,Iceland,233,61,78,6.6,Europe
25,Bulgaria,231,252,94,10.3,Europe
42,Croatia,230,87,254,10.2,Europe
48,Denmark,224,81,278,10.4,Europe
57,Estonia,224,194,59,9.5,Europe
182,United Kingdom,219,126,195,10.4,Europe
180,Ukraine,206,237,45,8.9,Europe
155,Slovakia,196,293,116,11.4,Europe
136,Portugal,194,67,339,11.0,Europe
44,Cyprus,192,154,113,8.2,Europe
166,Switzerland,185,100,280,10.2,Europe
126,Norway,169,71,129,6.7,Europe
165,Sweden,152,60,186,7.2,Europe
105,Malta,149,100,120,6.6,Europe
15,Belarus,142,373,42,14.4,Europe
67,Greece,133,112,218,8.3,Europe
61,France,127,151,370,11.8,Europe
139,Moldova,109,226,18,6.3,Europe
170,Macedonia,106,27,86,3.9,Europe
1,Albania,89,132,54,4.9,Europe
83,Italy,85,42,237,6.5,Europe
21,Bosnia-Herzegovina,76,173,8,4.6,Europe
64,Georgia,52,100,149,5.4,Europe
113,Montenegro,31,114,128,4.9,Europe
10,Azerbaijan,21,46,5,1.3,Europe
7,Armenia,21,179,11,3.8,Europe
147,San Marino,0,0,0,0.0,Europe
111,Monaco,0,0,0,0.0,Europe

In [25]:
df = pd.read_csv('forked_Bigdata_Analyst_Cert/part4/ch8/tourist.csv')

In [26]:
df.head()

    나라    관광   공무   사업   기타
0  국가1  1184  270  380   55
1  국가2  1059  184  267   86
2  국가3  1129  168  261   50
3  국가4   692  106  214  125
4  국가5  1335  296  296   84

In [27]:
df['rate'] = df['관광']/(df['관광'] + df['공무'] + df['사업'] + df['기타'])

In [32]:
a = df.sort_values(by = 'rate', ascending = False).iloc[1, 3]
b = df.sort_values(by = '관광', ascending = False).iloc[1, 2]
a + b

441

In [34]:
df.nlargest(2, 'rate')
df.nsmallest(2, '관광')

      나라   관광   공무   사업   기타      rate
8    국가9  509  200  286  112  0.459801
64  국가65  528  136  202   86  0.554622

In [36]:
df.loc['관광']

KeyError: '관광'

In [42]:
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv('forked_Bigdata_Analyst_Cert/part4/ch8/chem.csv')

In [45]:
mms = MinMaxScaler()
mms.fit(df[['co', 'nmhc']])
scaled_df = mms.fit_transform(df[['co', 'nmhc']])

In [43]:
df.head()

  sample   co  nmhc  etc
0    샘플1   79    54   31
1    샘플2   84    57   58
2    샘플3  109    74  113
3    샘플4   15    77   21
4    샘플5   65    77  115

In [50]:
pd.DataFrame(scaled_df, columns = ['co', 'nhmc']).std()

co      0.285652
nhmc    0.303062
dtype: float64

In [51]:
import pandas as pd
df = pd.read_csv('forked_Bigdata_Analyst_Cert/part4/ch8/churn.csv')

In [57]:
from statsmodels.formula.api import logit

In [58]:
df.head()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,51,1,0,1.0,0,303.7,83,72.5,9.3,3.8
1,1,61,1,0,-0.2,2,194.8,89,66.3,10.9,13.3
2,0,84,1,1,-1.3,2,157.6,109,35.7,10.0,12.5
3,0,65,1,0,1.0,1,223.1,129,64.2,9.1,5.1
4,0,154,1,0,1.0,0,137.0,115,40.0,7.7,4.6

In [59]:
list(df.columns)

['Churn',
 'AccountWeeks',
 'ContractRenewal',
 'DataPlan',
 'DataUsage',
 'CustServCalls',
 'DayMins',
 'DayCalls',
 'MonthlyCharge',
 'OverageFee',
 'RoamMins']

In [70]:
full_model = logit(formula='Churn ~ AccountWeeks + ContractRenewal + DataPlan + DataUsage + CustServCalls + DayMins + DayCalls + MonthlyCharge + OverageFee + RoamMins', data=df).fit()

SyntaxError: unterminated string literal (detected at line 1) (2002812915.py, line 1)

In [68]:
full_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      989
Method:                           MLE   Df Model:                           10
Date:                Sat, 30 Nov 2024   Pseudo R-squ.:                 0.02367
Time:                        00:25:26   Log-Likelihood:                -393.60
converged:                       True   LL-Null:                       -403.14
Covariance Type:            nonrobust   LLR p-value:                   0.03924
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -2.2146      0.913     -2.425      0.015      -4.005      -0.424
AccountWeeks        0.0026      0.002      1.114      0.265      -0.002       0.007
ContractRenewal     0.1603      0.325      0.493      0.622      -0.477       0.798
DataPlan            0.2874      0.198      1.454      0.146      -0.100       0.675
DataUsage          -0.1698      0.072     -2.343      0.019      -0.312      -0.028
CustServCalls       0.1374      0.074      1.858      0.063      -0.008       0.282
DayMins            -0.0036      0.002     -2.092      0.036      -0.007      -0.000
DayCalls            0.0023      0.004      0.526      0.599      -0.006       0.011
MonthlyCharge       0.0042      0.005      0.778      0.436      -0.006       0.015
OverageFee         -0.0127      0.036     -0.352      0.725      -0.084       0.058
RoamMins            0.0098      0.034      0.292      0.770      -0.056       0.076
===================================================================================
"""

In [69]:
full_model.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Logit
===============================================================
Model:              Logit            Method:           MLE
Dependent Variable: Churn            Pseudo R-squared: 0.024
Date:               2024-11-30 00:25 AIC:              809.2065
No. Observations:   1000             BIC:              863.1918
Df Model:           10               Log-Likelihood:   -393.60
Df Residuals:       989              LL-Null:          -403.14
Converged:          1.0000           LLR p-value:      0.039238
No. Iterations:     6.0000           Scale:            1.0000
---------------------------------------------------------------
                 Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
---------------------------------------------------------------
Intercept       -2.2146   0.9134 -2.4247 0.0153 -4.0047 -0.4245
AccountWeeks     0.0026   0.0023  1.1138 0.2654 -0.0020  0.0072
ContractRenewal  0.1603   0.3252  0.4931 0.6220 -0.4770  0.7976
DataPlan         0.2874   0.1976  1.4544 0.1458 -0.0999  0.6747
DataUsage       -0.1698   0.0725 -2.3432 0.0191 -0.3118 -0.0278
CustServCalls    0.1374   0.0740  1.8579 0.0632 -0.0075  0.2824
DayMins         -0.0036   0.0017 -2.0923 0.0364 -0.0070 -0.0002
DayCalls         0.0023   0.0045  0.5259 0.5990 -0.0064  0.0111
MonthlyCharge    0.0042   0.0054  0.7784 0.4363 -0.0063  0.0147
OverageFee      -0.0127   0.0362 -0.3520 0.7248 -0.0837  0.0582
RoamMins         0.0098   0.0336  0.2921 0.7702 -0.0560  0.0756
===============================================================

"""

In [72]:
partial_model = logit(formula='Churn ~ DataUsage + DayMins', data=df).fit()

Optimization terminated successfully.
         Current function value: 0.397599
         Iterations 6

In [73]:
partial_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      997
Method:                           MLE   Df Model:                            2
Date:                Sat, 30 Nov 2024   Pseudo R-squ.:                 0.01375
Time:                        00:33:51   Log-Likelihood:                -397.60
converged:                       True   LL-Null:                       -403.14
Covariance Type:            nonrobust   LLR p-value:                  0.003908
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.0395      0.303     -3.434      0.001      -1.633      -0.446
DataUsage     -0.1697      0.071     -2.376      0.017      -0.310      -0.030
DayMins       -0.0039      0.002     -2.264      0.024      -0.007      -0.001
==============================================================================
"""

In [78]:
partial_model.llf

-397.5992551129516

In [ ]:
from statsmodels.formula.api import ols
df = pd.read_csv('')

In [ ]:
from statsmodels.formula.api import ols
from statsmodels.formula.api import logit

In [80]:
import pandas as pd
df = pd.read_csv('forked_Bigdata_Analyst_Cert/part4/ch6/data6-1-1.csv')

In [81]:
df.head()

    소방서                 출동시간                 도착시간
0  소방서1  2023-09-16 06:12:29  2023-09-16 07:51:55
1  소방서5  2023-09-19 06:11:41  2023-09-19 08:08:36
2  소방서1  2023-09-14 06:12:00  2023-09-14 07:24:21
3  소방서6  2023-09-20 06:12:24  2023-09-20 06:30:45
4  소방서9  2023-09-15 06:11:50  2023-09-15 06:44:00

In [85]:
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   소방서     100 non-null    object
 1   출동시간    100 non-null    datetime64[ns]
 2   도착시간    100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 2.5+ KB

In [91]:
df['timediff'] = df['도착시간'] - df['출동시간']
df_timediff = df.groupby('소방서')['timediff'].mean()

In [93]:
df_timediff.idxmax()

'소방서9'

In [97]:
df_timediff['소방서9'].total_seconds()/60

80.65888888333333

In [98]:
df = pd.read_csv('forked_Bigdata_Analyst_Cert/part4/ch5/data5-1.csv')

In [99]:
df.head()

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1ℓ가격,1.5ℓ가격,2ℓ가격,2.5ℓ가격,...,60ℓ가격,75ℓ가격,100ℓ가격,120ℓ가격,125ℓ가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [109]:
df_zeros = df.loc[(df['종량제봉투종류']=='규격봉투')&(df['종량제봉투용도']=='음식물쓰레기')&(df['2ℓ가격']!=0)]['2ℓ가격']

In [110]:
df_zeros.mean()

117.78846153846153

In [111]:
df = pd.read_csv('forked_Bigdata_Analyst_Cert/part4/ch4/data4-3.csv')

In [112]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [ ]:
df['date_added'] = pd.to_datetime(df['date_added'])
df['date_added'].dt.year
df['date_added'].dt.month

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers"
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies"
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies"
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies"
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"

In [114]:
import numpy as np, pandas as pd

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer, KNNImputer

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from lightgbm import LGBMClassifier, LGBMRegressor
from xgboost import XGBClassifier, XGBRegressor

from sklearn.metrics import f1_score, roc_auc_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [ ]:
submit = pd.DataFrame({
    'pred':pred
})
. index = False

help(sklearn.preprocessing.OrdinalEncoder)

help(sklearn.preprocessing.OrdinalEncoder)

In [120]:
help(OrdinalEncoder)

Help on class OrdinalEncoder in module sklearn.preprocessing._encoders:

class OrdinalEncoder(sklearn.base.OneToOneFeatureMixin, _BaseEncoder)
 |  OrdinalEncoder(*, categories='auto', dtype=<class 'numpy.float64'>, handle_unknown='error', unknown_value=None, encoded_missing_value=nan, min_frequency=None, max_categories=None)
 |
 |  Encode categorical features as an integer array.
 |
 |  The input to this transformer should be an array-like of integers or
 |  strings, denoting the values taken on by categorical (discrete) features.
 |  The features are converted to ordinal integers. This results in
 |  a single column of integers (0 to n_categories - 1) per feature.
 |
 |  Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
 |  For a comparison of different encoders, refer to:
 |  :ref:`sphx_glr_auto_examples_preprocessing_plot_target_encoder.py`.
 |
 |  .. versionadded:: 0.20
 |
 |  Parameters
 |  ----------
 |  categories : 'auto' or a list of array-like, default='auto'
 |      Categories (unique values) per feature:
 |
 |      - 'auto' : Determine categories automatically from the training data.
 |      - list : ``categories[i]`` holds the categories expected in the ith
 |        column. The passed categories should not mix strings and numeric
 |        values, and should be sorted in case of numeric values.
 |
 |      The used categories can be found in the ``categories_`` attribute.
 |
 |  dtype : number type, default=np.float64
 |      Desired dtype of output.
 |
 |  handle_unknown : {'error', 'use_encoded_value'}, default='error'
 |      When set to 'error' an error will be raised in case an unknown
 |      categorical feature is present during transform. When set to
 |      'use_encoded_value', the encoded value of unknown categories will be
 |      set to the value given for the parameter `unknown_value`. In
 |      :meth:`inverse_transform`, an unknown category will be denoted as None.
 |
 |      .. versionadded:: 0.24
 |
 |  unknown_value : int or np.nan, default=None
 |      When the parameter handle_unknown is set to 'use_encoded_value', this
 |      parameter is required and will set the encoded value of unknown
 |      categories. It has to be distinct from the values used to encode any of
 |      the categories in `fit`. If set to np.nan, the `dtype` parameter must
 |      be a float dtype.
 |
 |      .. versionadded:: 0.24
 |
 |  encoded_missing_value : int or np.nan, default=np.nan
 |      Encoded value of missing categories. If set to `np.nan`, then the `dtype`
 |      parameter must be a float dtype.
 |
 |      .. versionadded:: 1.1
 |
 |  min_frequency : int or float, default=None
 |      Specifies the minimum frequency below which a category will be
 |      considered infrequent.
 |
 |      - If `int`, categories with a smaller cardinality will be considered
 |        infrequent.
 |
 |      - If `float`, categories with a smaller cardinality than
 |        `min_frequency * n_samples`  will be considered infrequent.
 |
 |      .. versionadded:: 1.3
 |          Read more in the :ref:`User Guide <encoder_infrequent_categories>`.
 |
 |  max_categories : int, default=None
 |      Specifies an upper limit to the number of output categories for each input
 |      feature when considering infrequent categories. If there are infrequent
 |      categories, `max_categories` includes the category representing the
 |      infrequent categories along with the frequent categories. If `None`,
 |      there is no limit to the number of output features.
 |
 |      `max_categories` do **not** take into account missing or unknown
 |      categories. Setting `unknown_value` or `encoded_missing_value` to an
 |      integer will increase the number of unique integer codes by one each.
 |      This can result in up to `max_categories + 2` integer codes.
 |
 |      .. versionadded:: 1.3
 |          Read more in the :ref:`User Guide <encoder_infrequent_categories>`.
 |
 |  Attributes
 |  ----------
 |  categories_ : list of arrays
 |      The categories of each feature determined during ``fit`` (in order of
 |      the features in X and corresponding with the output of ``transform``).
 |      This does not include categories that weren't seen during ``fit``.
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 1.0
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  infrequent_categories_ : list of ndarray
 |      Defined only if infrequent categories are enabled by setting
 |      `min_frequency` or `max_categories` to a non-default value.
 |      `infrequent_categories_[i]` are the infrequent categories for feature
 |      `i`. If the feature `i` has no infrequent categories
 |      `infrequent_categories_[i]` is None.
 |
 |      .. versionadded:: 1.3
 |
 |  See Also
 |  --------
 |  OneHotEncoder : Performs a one-hot encoding of categorical features. This encoding
 |      is suitable for low to medium cardinality categorical variables, both in
 |      supervised and unsupervised settings.
 |  TargetEncoder : Encodes categorical features using supervised signal
 |      in a classification or regression pipeline. This encoding is typically
 |      suitable for high cardinality categorical variables.
 |  LabelEncoder : Encodes target labels with values between 0 and
 |      ``n_classes-1``.
 |
 |  Notes
 |  -----
 |  With a high proportion of `nan` values, inferring categories becomes slow with
 |  Python versions before 3.10. The handling of `nan` values was improved
 |  from Python 3.10 onwards, (c.f.
 |  `bpo-43475 <https://github.com/python/cpython/issues/87641>`_).
 |
 |  Examples
 |  --------
 |  Given a dataset with two features, we let the encoder find the unique
 |  values per feature and transform the data to an ordinal encoding.
 |
 |  >>> from sklearn.preprocessing import OrdinalEncoder
 |  >>> enc = OrdinalEncoder()
 |  >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
 |  >>> enc.fit(X)
 |  OrdinalEncoder()
 |  >>> enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> enc.transform([['Female', 3], ['Male', 1]])
 |  array([[0., 2.],
 |         [1., 0.]])
 |
 |  >>> enc.inverse_transform([[1, 0], [0, 1]])
 |  array([['Male', 1],
 |         ['Female', 2]], dtype=object)
 |
 |  By default, :class:`OrdinalEncoder` is lenient towards missing values by
 |  propagating them.
 |
 |  >>> import numpy as np
 |  >>> X = [['Male', 1], ['Female', 3], ['Female', np.nan]]
 |  >>> enc.fit_transform(X)
 |  array([[ 1.,  0.],
 |         [ 0.,  1.],
 |         [ 0., nan]])
 |
 |  You can use the parameter `encoded_missing_value` to encode missing values.
 |
 |  >>> enc.set_params(encoded_missing_value=-1).fit_transform(X)
 |  array([[ 1.,  0.],
 |         [ 0.,  1.],
 |         [ 0., -1.]])
 |
 |  Infrequent categories are enabled by setting `max_categories` or `min_frequency`.
 |  In the following example, "a" and "d" are considered infrequent and grouped
 |  together into a single category, "b" and "c" are their own categories, unknown
 |  values are encoded as 3 and missing values are encoded as 4.
 |
 |  >>> X_train = np.array(
 |  ...     [["a"] * 5 + ["b"] * 20 + ["c"] * 10 + ["d"] * 3 + [np.nan]],
 |  ...     dtype=object).T
 |  >>> enc = OrdinalEncoder(
 |  ...     handle_unknown="use_encoded_value", unknown_value=3,
 |  ...     max_categories=3, encoded_missing_value=4)
 |  >>> _ = enc.fit(X_train)
 |  >>> X_test = np.array([["a"], ["b"], ["c"], ["d"], ["e"], [np.nan]], dtype=object)
 |  >>> enc.transform(X_test)
 |  array([[2.],
 |         [0.],
 |         [1.],
 |         [2.],
 |         [3.],
 |         [4.]])
 |
 |  Method resolution order:
 |      OrdinalEncoder
 |      sklearn.base.OneToOneFeatureMixin
 |      _BaseEncoder
 |      sklearn.base.TransformerMixin
 |      sklearn.utils._set_output._SetOutputMixin
 |      sklearn.base.BaseEstimator
 |      sklearn.utils._estimator_html_repr._HTMLDocumentationLinkMixin
 |      sklearn.utils._metadata_requests._MetadataRequester
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, categories='auto', dtype=<class 'numpy.float64'>, handle_unknown='error', unknown_value=None, encoded_missing_value=nan, min_frequency=None, max_categories=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the OrdinalEncoder to X.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data to determine the categories of each feature.
 |
 |      y : None
 |          Ignored. This parameter exists only for compatibility with
 |          :class:`~sklearn.pipeline.Pipeline`.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted encoder.
 |
 |  inverse_transform(self, X)
 |      Convert the data back to the original representation.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_encoded_features)
 |          The transformed data.
 |
 |      Returns
 |      -------
 |      X_tr : ndarray of shape (n_samples, n_features)
 |          Inverse transformed array.
 |
 |  transform(self, X)
 |      Transform X to ordinal codes.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data to encode.
 |
 |      Returns
 |      -------
 |      X_out : ndarray of shape (n_samples, n_features)
 |          Transformed input.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_parameter_constraints': <class 'dict'>}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.OneToOneFeatureMixin:
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Input features.
 |
 |          - If `input_features` is `None`, then `feature_names_in_` is
 |            used as feature names in. If `feature_names_in_` is not defined,
 |            then the following input feature names are generated:
 |            `["x0", "x1", ..., "x(n_features_in_ - 1)"]`.
 |          - If `input_features` is an array-like, then `input_features` must
 |            match `feature_names_in_` if `feature_names_in_` is defined.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Same as input features.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.OneToOneFeatureMixin:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties inherited from _BaseEncoder:
 |
 |  infrequent_categories_
 |      Infrequent categories for each feature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  set_output(self, *, transform=None)
 |      Set output container.
 |
 |      See :ref:`sphx_glr_auto_examples_miscellaneous_plot_set_output.py`
 |      for an example on how to use the API.
 |
 |      Parameters
 |      ----------
 |      transform : {"default", "pandas"}, default=None
 |          Configure output of `transform` and `fit_transform`.
 |
 |          - `"default"`: Default output format of a transformer
 |          - `"pandas"`: DataFrame output
 |          - `"polars"`: Polars output
 |          - `None`: Transform configuration is unchanged
 |
 |          .. versionadded:: 1.4
 |              `"polars"` option was added.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __init_subclass__(auto_wrap_output_keys=('transform',), **kwargs)
 |      This method is called when a class is subclassed.
 |
 |      The default implementation does nothing. It may be
 |      overridden to extend subclasses.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |      Helper for pickle.
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  __sklearn_clone__(self)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._metadata_requests._MetadataRequester:
 |
 |  get_metadata_routing(self)
 |      Get metadata routing of this object.
 |
 |      Please check :ref:`User Guide <metadata_routing>` on how the routing
 |      mechanism works.
 |
 |      Returns
 |      -------
 |      routing : MetadataRequest
 |          A :class:`~sklearn.utils.metadata_routing.MetadataRequest` encapsulating
 |          routing information.